*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #2c2b2b;
}
ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
button {
    cursor: pointer;
}
.container {
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}

/* HEADER -------------------------------------- */

.header {
    background-image: url(../images/header-bg.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    min-height: 700px;
    color: #fff;
}
.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 47px 0 45px;
    margin-bottom: 60px;
}
.phone {
    font-size: 36px;
    line-height: 53px;
    text-transform: uppercase;
}
.header__content {
    position: relative;
}
.header__title {
    font-size: 72px;
    line-height: 107px;
    text-transform: uppercase;
}
.header__subtitle {
    font-size: 36px;
    line-height: 53px;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.header__text {
    font-weight: 300;
    max-width: 800px;
    margin-bottom: 30px;
}
.button {
    display: inline-block;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    padding: 14px 54px 15px;
    background: #5a0d67;
    color: #fff;
    transition: all 0.5s;
}
.button:hover {
    color: #5a0d67;
    background-color: #fff;
}
.social {
    padding: 70px 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
}
.social__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: all 0.5s;
}
.social__link:hover {
    background-color: #5a0d67;
    /* transform: scale(1.2); */
}
.social__icon {
    display: block;
}
.header__images {
    position: absolute;
    right: 0;
    bottom: -270px;
}

/* SERVICES -------------------------------------- */

.services {
    padding-top: 300px;
}
.title {
    font-size: 36px;
    line-height: 53px;
    text-transform: uppercase;
    color: #21062a;
    margin-bottom: 50px;
    padding-right: 85px;
    display: inline-block;
    position: relative;
}
.title::after {
    content: '';
    position: absolute;
    height: 3px;
    width: 80px;
    top: 25px;
    right: 0;
    background-color: #21062a;
}
.services__inner {
    display: flex;
    margin-bottom: 100px;
}
.services__content {
    padding-right: 94px;
}
.services__content-box {
    max-width: 504px;
    margin-bottom: 50px;
}
.services__content-box + .services__content-box {
    margin-top: 19px;
}
.services__content-title {
    font-size: 18px;
    line-height: 27px;
    font-weight: 300;
    color: #5a0d67;
}
.services__content-text {
    font-weight: 300;
    padding-top: 12px;
}
.services .button--decor {
    position: relative;
}
.services .button::before {
    content: '';
    position: absolute;
    top: 24px;
    right: -67px;
    width: 80px;
    height: 2px;
    background-color: #c4c4c4;
}
.services .button--decor::after {
    content: 'ЖМИ';
    position: absolute;
    top: 14px;
    right: -98px;
    color: #c4c4c4;
}

.services__list {
    counter-reset: section;
}
.services__item {
    border: 2px solid #c4c4c4;
    padding: 10px 10px 10px 96px;
    margin-bottom: 12px;
    position: relative;
    width: 450px;
    transition: all 0.2s;
}
.services__item::before {
    counter-increment: section;
    content: '0' counter(section);
    position: absolute;
    top: 19px;
    left: 20px;
    font-size: 36px;
    line-height: 53px;
    text-transform: uppercase;
    color: #c4c4c4;
    transform: rotate(-90deg);
    transition: all 0.2s;
}
.services__item:nth-child(n + 10):before {
    content: counter(section);
}
.services__item-title {
    font-weight: 300;
    font-size: 24px;
    line-height: 36px;
}
.services__item-text {
    font-weight: 300;
}
.services__item:hover {
    border: 2px solid #5a0d67;
    width: 500px;
}
.services__item:hover::before {
    color: #5a0d67;
}
.services__item:hover .services__item-title {
    color: #5a0d67;
}

/* BENEFITS -------------------------------------- */

.benefits {
    margin-bottom: 100px;
}
.benefits__inner {
    display: flex;
}
.benefits__images {
    margin-right: 95px;
}
.benefits__content {
    width: 100%;
}
.benefits__title {
    margin-left: 185px;
}
.benefits__list {
    background: #21062a;
    padding: 25px 0px 25px 185px;
    color: #fff;
}
.benefits__item {
    max-width: 320px;
    margin-bottom: 20px;
}
.benefits__item-num {
    font-weight: 400;
    font-size: 36px;
    line-height: 53px;
    text-transform: uppercase;
}
.benefits__item-title {
    font-weight: 300;
    font-size: 24px;
    line-height: 36px;
}
.benefits__item-text {
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    color: #c4c4c4;
}

/* CAROUSEL --------------------------------------- */

.carousel {
    margin-bottom: 100px;
}
.carousel__inner {
    margin: 0 -7px;
}
.carousel__item {
    margin: 0 7px;
}
.carousel__item-box {
    border: 1px solid #c4c4c4;
    padding: 6px 6px 16px 6px;
    text-align: center;
    transition: all 0.5s;
}
.carousel__item-box:hover {
    background: #5a0d67;
    color: #fff;
    border: 1px solid #5a0d67;
}
.carousel__item-img {
    width: 100%;
    margin-bottom: 23px;
}
.carousel__item-title {
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.carousel__item-text {
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
}
.carousel .slick-dots {
    display: flex;
    justify-content: center;
    margin-top: 23px;
}
.carousel .slick-dots li {
    cursor: pointer;
}
.carousel .slick-dots button {
    font-size: 0px;
    border: none;
    padding: 0;
    margin: 0 10px;
    width: 50px;
    height: 1px;
    background: #c4c4c4;
    transition: all 0.5s;
}
.carousel .slick-active button {
    background: #5a0d67;
    height: 3px;
}

/* HEADER -------------------------------------- */

.contacts__inner {
    display: flex;
    justify-content: space-between;
}

.contacts__item {
    margin-bottom: 20px;
}
.contacts__item-title {
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    color: #5a0d67;
}
.contacts__item-text {
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    color: #2c2b2b;
}
.contacts__form {
    width: 600px;
    padding: 50px 75px 57px;
    background-color: #21062a;
    text-align: center;
}
.contacts__form-title {
    color: #fff;
    margin-bottom: 4px;
}
.contacts__form-title::after {
    background-color: #fff;
}
.contacts__input {
    background-color: transparent;
    display: block;
    height: 75px;
    width: 100%;
    margin-top: 12px;
    padding: 0 20px;
    font-size: 18px;
    line-height: 27px;
    color: #fff;
    border: 1px solid #fff;
}
.contacts__input::placeholder {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    color: #c4c4c4;
    text-align: center;
}
.contacts__btn {
    font-family: 'Oswald', sans-serif;
    margin-top: 78px;
    border: none;
}
/* FOOTER --------------------------------------- */

.footer {
    background: #21062a;
}
.footer__inner {
    height: 100px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}
.footer__logo {
    display: block;
}
.footer__social {
    padding: 0;
}
.footer__copy {
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    color: #ffffff;
}

/* MEDIA ------------------------------------------ */

@media (max-width: 1140px) {
    .services__content {
        padding-right: 50px;
    }

    .services__item:hover {
        width: 450px;
    }
    .benefits__title {
        margin-left: 135px;
    }
    .benefits__list {
        padding: 25px 0px 25px 135px;
    }
}
@media (max-width: 1024px) {
    .header__images {
        width: 80%;
    }
    .benefits__list {
        padding: 25px 0px 25px 50px;
    }
}

@media (max-width: 900px) {
    .phone {
        font-size: 24px;
        line-height: 36px;
    }
    .header__title {
        font-size: 54px;
        line-height: 74px;
    }
    .header__subtitle {
        font-size: 24px;
        line-height: 36px;
    }
    .header__text {
        margin-bottom: 20px;
    }
    .social {
        padding: 30px 0 20px;
    }
    .services {
        padding-top: 200px;
    }
    .services__inner {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .services__content {
        padding-right: 0px;
    }
    .services__content-box {
        max-width: 100%;
    }
    .services__list {
        order: -1;
        margin-bottom: 30px;
        width: 100%;
    }

    .services__item {
        text-align: left;
        width: 100%;
    }
    .services__item:hover {
        width: 100%;
    }
    .benefits__inner {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: left;
    }

    .benefits__title {
        margin-left: 0px;
    }
    .benefits__item {
        margin: auto;
    }
    .benefits__list {
        padding: 25px 10px;
        text-align: center;
    }
    .contacts__info {
        margin-right: 20px;
    }
    .contacts__form {
        max-width: 600px;
        padding: 50px 25px 57px;
    }
}
@media (max-width: 800px) {
    .contacts__inner {
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
    }
    .contacts__info {
        max-width: 100%;
        text-align: left;
    }
    .contacts__form {
        max-width: 100%;
        width: 100%;
        order: -1;
        margin-bottom: 50px;
    }
    .contacts__input {
        width: 70%;
        margin: 12px auto;
    }
    .contacts__btn {
        margin-top: 50px;
    }
    .footer__inner {
        display: block;
        height: 100%;
        text-align: center;
        justify-content: center;
        padding: 30px 0;
    }
    .footer__social {
        margin: 0 auto;
    }
}
@media (max-width: 600px) {
    .header__top {
        padding: 25px 0 25px;
        margin-bottom: 50px;
    }
    .header__content {
        text-align: center;
    }
    .header__title {
        font-size: 42px;
        line-height: 62px;
        margin-bottom: 20px;
    }
    .header__subtitle {
        font-size: 20px;
        line-height: 32px;
    }

    .social {
        margin: 0 auto;
    }
    .header__images {
        left: 0;
        right: 0;
        margin: auto;
    }
    .contacts__input {
        width: 100%;
    }
}
@media (max-width: 500px) {
    .services .button--decor::before,
    .services .button--decor::after {
        display: none;
    }
    .services__item {
        padding: 10px 10px 10px 60px;
    }
    .services__item::before {
        left: -15px;
        top: 50%;
        bottom: 50%;
    }
    .services__item-text {
        font-size: 16px;
    }
    .carousel__title::after,
    .contacts__form-title::after {
        display: none;
    }
    .carousel__title,
    .contacts__form-title {
        padding-right: 0px;
    }
}

@media (max-width: 450px) {
    .header__top {
        flex-wrap: wrap;
        justify-content: center;
    }
    .phone {
        margin: 0 10px;
    }

    .header__images {
        position: static;
        width: 100%;
    }
    .title {
        font-size: 32px;
    }
    .services {
        padding-top: 100px;
    }
    .benefits__images {
        margin-right: 60px;
    }
}
@media (max-width: 400px) {
}
@media (max-width: 350px) {
}
